[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vannalove
[access "refs/for/refs/*"]
	read = group user/vannalove
	push = group user/vannalove
	label-Code-Review = -2..+2 group user/vannalove
	label-Verified = -1..+1 group user/vannalove
	rebase = group user/vannalove
	removeReviewer = group user/vannalove
	submit = group user/vannalove
[access "refs/heads/*"]
	read = group user/vannalove
	create = group user/vannalove
	push = +force group user/vannalove
	pushMerge = group user/vannalove
[access "refs/tags/*"]
	push = +force group user/vannalove
	pushTag = group user/vannalove
	pushSignedTag = group user/vannalove
